@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{
    background: rgb(242, 250, 135);

}
h2{
    color: black;
}
h3{
    color: black;
}
p{
    color: black
}
.fontes{

    font-family: 'Alata', sans-serif;
    font-size: 17px;

}
idNome{


}